service ExampleApi
{
	/// Identifies a widget field.
	<spot>[validate]</spot>
	enum WidgetField
	{
		/// The 'id' field.
		id,

		/// The 'name' field.
		name,

		/// The 'weight' field.
		[obsolete]
		weight,
	}
}
